 * {
     margin: 0;
     padding: 0;
     min-height: 100%;
     font-family: Arial, Helvetica, sans-serif;
 }
 .title{
    background-color: #393d3f;

 }


 html {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     min-height: 100%;
 }

 .instructions {
     display: block;
     color: #f0f0f0;
     text-shadow:
         -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
         1px 1px 0 #000;
     margin: 20px;
     padding: 20px;
     text-align: center;
     font-size: 50px;
     line-height: 1.5;
 }
 .instructions p {
    display: block;
    margin-bottom: 10px;
 }

 body {
     background: #62929e;
     color: white;
     min-height: 100%;
     margin-bottom: 40px;
 }

 header {
     display: flex;
     justify-content: center;
     color: white;
     text-shadow:
         -2px -2px 0 #000,
         2px -2px 0 #000,
         -2px 2px 0 #000,
         2px 2px 0 #000;
     font-size: 100px;
     text-align: center;
     margin: 0;
 }

 .button {
     display: flex;
     justify-content: center;

 }

 #generateUrlButton {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #393d3f;
    color: #fdfdff;
    font-size: 16px;
 }


 .input {
     display: flex;
     flex-direction: row;
     justify-content: center;
     color: #0E141B;
     text-align: center;
     height: 50px;
     margin: 10px 0;
     padding: 10px;

 }

 #LoginInput {
     display: flex;
     justify-content: center;
     position: relative;
     bottom: 5px;
     background: #417a9b;
     border-color: #3D4450;
     font-size: large;
     width: 500px;
     border-radius: 10px;

 }

 img {
     display: flex;
     justify-content: center;
 }

 footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 20px;
     margin: 40px 0;
     width: 100%;
     height: 40px;
     text-align: center;
 }

 #randomGameContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin-top: 20px;

 }

  #randomGameContainer h2 {
     font-size: 30px;
     font-weight: bold;
     color: #333;
     margin-bottom: 10px;
 } 

 #randomGameContainer img {
     max-width: 100%;
     width: 70%;
     height: auto;
     border: 2px solid #ccc;

 }

 #genres,
 #stores,
 #platforms {
     width: 100%;
     padding: 8px;
     margin: 8px 0;
     margin-right: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #393d3f;
     color: #fdfdff;
     font-size: 14px;
 }

 #genres option,
 #stores option,
 #platforms option {
     background-color: #393d3f;
     color: #fdfdff;
     font-size: 16px;
 }

 #genres::after,
 #stores::after,
 #platforms ::after {
     font-size: 14px;
     color: #333;
     position: absolute;
     top: 50%;
     right: 10px;
 }

  #metacritic {
     width: 100px;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #393d3f;
     color: #fdfdff;
     font-size: 16px;
     box-sizing: border-box;
 } 


 #errorMessage {
     color: red;
     font-size: 16px;
     margin-top: 10px;
 }

 @media screen and (max-width: 600px) {

     .instructions{
        margin-bottom: 20px; 
        padding: 10px; 
        font-size: 24px;
    }
    
     .input {
         flex-direction: column;
         align-items: center;
         margin-top: 50px;
         margin-bottom: 50px;
         padding-top: 50px;
         padding-bottom: 50px;
     }
     #genres,
     #stores,
     #platforms,
     #metacritic {
         width: 90%;
         margin: 10px 0;
         margin-right: 0;
     } 

     header {
        font-size: 36px; 
    }

    footer {
        margin: 20px 0;
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        font-size: 36px; 
    }
    .button {
        margin-top: 20px;
    }
    #generateUrlButton {
        margin-top: 20px; 
        width: 90%; 
    }


 }